@font-face {
  font-family: Tungsten;
  src: url(font/Tungsten-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: D-DIN;
  src: url(font/D-DIN-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: D-DIN;
  src: url(font/D-DIN.otf);
  font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: rgb(118, 128, 121);
	background-color: rgb(236, 232, 225);
	font-family: D-DIN, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1, h2, h3 {
	font-family: Tungsten;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
}